<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.truman.showtime.showtime" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<compatible-screens>-->
        <!--<screen android:screenSize="small" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="xhdpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="480" />-->
        <!--&lt;!&ndash; all normal size screens &ndash;&gt;-->
        <!--<screen android:screenSize="normal" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="xhdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="xxhdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="xxxhdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="480" />-->

        <!--<screen android:screenSize="large" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="xhdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="xxhdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="xxxhdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="480" />-->

        <!--<screen android:screenSize="xlarge" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="xhdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="xxhdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="xxxhdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="480" />-->
    <!--</compatible-screens>-->
    <application
        android:name=".application.ShowtimeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.crashlytics.ApiKey" android:value="ff6f76d45da103570f8070443d1760ea5199fc81"/>
        <meta-data tools:replace="android:value" android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.DetailActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />
        <receiver
            android:name="com.mixpanel.android.mpmetrics.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff6f76d45da103570f8070443d1760ea5199fc81" />
    </application>

</manifest>
